.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.scheduling-container {
    margin-top:20px;
    width: 100%;

    display: flex;
    justify-content: center;
}

#scheduling-form {
    width: 50%;

    display: flex;
    flex-direction: column;
}

.patient {
    margin-bottom: 70px;
}
.patience-insert {
    flex-wrap: wrap;
}
input, select {
    width: 45%;
    height: 50px;

    padding: 0px 10px;

    font-family: 'Signika Negative', sans-serif;
    font-size: 1.2rem;
}
#patient-name {
    width: 100%;
}
.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 35px;
}
.scheduling-insert {
    margin-bottom: 75px;
}

.save {
    width: 100%;

    display: flex;
    justify-content: center;
}

button {
    width: clamp(100px, 45vw, 230px);
    height: clamp(45px, 10vw, 65px);

    font-family: 'Signika Negative', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background-color: #E2DED0;
}


.title {
    margin-bottom: 20px;
}
.title span {
    font-size: 1.5rem;
}
.line {
    width: 120px;
    border: 1px solid;

    background-color: black;
}

#appointment-description{
    width: 100%;
    height: 200px;
    resize: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: 10px;
}

.column-patient, .column-doctor{
    width: 100%;
    height: 30px;
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-patient:hover, .column-doctor:hover{
    background-color: rgb(192, 192, 192);
}

.column-patient span, .column-doctor span{
    text-transform: capitalize;
    margin-right: 3px;
    user-select: none;
}

#data-list{
    margin-bottom: 35px;
}