.container {
    display: flex;
    flex-direction: row;

    gap: 5%;
}

.admin-table {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

#new-patience {
    width: clamp(150px, 15vw, 230px);
    height: clamp(45px, 8vw, 65px);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;

    border-radius: 5px;

    background-color: #E2DED0;

    cursor: pointer;
    user-select: none;
}

#new-patience span {
    font-size: clamp(.825rem, 3vw, 1.2rem);
    font-weight: 500;
}

.table {
    width: clamp(200px, 55vw, 100%);
    min-height: 600px;
    height: auto;

    border: 1px solid;
}

.column {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: 1px solid;
}

.column span {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: clamp(1rem, 2vw, 1.1rem);

    text-align: center;

    border-right: 1px solid;
}

.column span:last-child {
    width: 40%;
    border-right: none;
}

.column span img {
    width: clamp(28px, 2vw, 35px);
    height: clamp(28px, 2vw, 35px);
    border-right: none;

    cursor: pointer;
}

/* modal */
#modal-container {
    display: none;
}

#modal-container.active {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    width: clamp(270px, 75vw, 800px);
    height: 400px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: #fff;
}

#close-modal {
    width: clamp(25px, 5vw, 35px);
    height: clamp(25px, 5vw, 35px);

    display: grid;
    place-items: center;

    border-radius: 5px;

    cursor: pointer;

    background-color: #E2DED0;
}

#close-modal span {
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#patient-registration {
    width: 100%;
    height: 100%;

    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data {
    width: 80%; 
    
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
    gap: 10px;
}

input {
    width: clamp(130px, 45vw, 290px);
    height: clamp(35px, 5vw, 50px);

    padding: 0px 10px;

    font-family: 'Signika Negative', sans-serif;
    font-size: clamp(1rem, 3vw, 1.3rem);

    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

button {
    width: clamp(100px, 45vw, 230px);
    height: clamp(45px, 10vw, 65px);

    font-family: 'Signika Negative', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background-color: #E2DED0;
}