.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.admin-table {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listing {
    height: 70%;
}

.button.patient {
    display: flex;
    justify-content: flex-end;
}

#plus {
    display: none;
}

/* doctors.html */
.buttons {
    width: 100%;

    gap: 25px;

    display: flex;
    justify-content: flex-end;
}

#new-patience,
#new-specialty,
#new-doctor {
    width: clamp(150px, 15vw, 230px);
    height: clamp(45px, 8vw, 65px);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 3%;

    border-radius: 5px;

    background-color: #E2DED0;

    cursor: pointer;
    user-select: none;
}

#new-patience span,
#new-specialty span,
#new-doctor span {
    font-size: clamp(.825rem, 3vw, 1.2rem);
    font-weight: 500;
    text-align: center;
}

.table {
    width: clamp(500px, 85vw, 1040px);
    min-height: 600px;
    height: auto;

    border: 1px solid;
}

.column,
.row {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: 1px solid;
}

.column span,
.row span {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: clamp(1rem, 2vw, 1.1rem);
    text-transform: capitalize;
    text-align: center;

    border-right: 1px solid;
}

.column span:last-child,
.row span:last-child {
    width: 40%;
    border-right: none;
}

.row span img {
    width: clamp(28px, 2vw, 35px);
    height: clamp(28px, 2vw, 35px);
    border-right: none;

    cursor: pointer;
}

/* modal */
#modal-container,
#doctor-modal,
#specialty-modal {
    display: none;
}

#modal-container.active,
#doctor-modal.active,
#specialty-modal.active {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    width: clamp(270px, 75vw, 800px);
    height: 400px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: #fff;
}

#close-modal,
#close-doctor-modal,
#close-specialty-modal {
    width: clamp(25px, 5vw, 35px);
    height: clamp(25px, 5vw, 35px);

    display: grid;
    place-items: center;

    border-radius: 5px;

    cursor: pointer;

    background-color: #E2DED0;
}

#close-modal span,
#close-doctor-modal span,
#close-specialty-modal span {
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#patient-registration,
#doctor-registration,
#specialty-registration {
    width: 100%;
    height: 100%;

    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 30px;
    gap: 10px;
}

.data img {
    width: clamp(32px, 2vw, 35px);
    height: clamp(32px, 2vw, 35px);

    cursor: pointer;
}

#specialty-registration .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
select {
    width: clamp(130px, 45vw, 290px);
    height: clamp(40px, 5vw, 50px);

    padding: 0px 10px;

    font-family: 'Signika Negative', sans-serif;
    font-size: clamp(1rem, 3vw, 1.3rem);

    -moz-appearance: textfield;
    appearance: textfield;
}

select {
    width: clamp(155px, 25vw, 250px);
}
.specialty {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

#specialties{
    width: 100%;
    height: 80px;
}

button {
    width: clamp(100px, 45vw, 230px);
    height: clamp(45px, 10vw, 65px);

    font-family: 'Signika Negative', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background-color: #E2DED0;
}

@media screen and (max-width: 550px) {
    .button.patient {
        display: none;
    }

    #plus {
        display: block;

        position: fixed;
        right: 20px;
        bottom: 20px;

        cursor: pointer;
    }

    .listing {
        width: 100%;
    }

    #values {
        width: 100%;
    }

    .table,
    .row,
    .row span {
        width: 100%;
        border: none;
    }

    .column {
        display: none;
    }

    .row {
        width: 100%;
        height: 115px;

        display: flex;

        gap: 10px;
        margin-bottom: 15px;

        background-color: rgb(207, 207, 207);
    }
}