#side-menu {
    width: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    overflow-x: hidden;
    transition: 0.5s;
    user-select: none;
    padding: 30px 0px 30px 0px;

    background-color: #4E4F50;
}

#side-menu #close-nav {
    position: absolute;
    top: 0;
    right: 25px;

    font-size: 40px;

    cursor: pointer;
}

.logo {
    width: clamp(40px, 5vw, 50px);
    height: clamp(40px, 5vw, 50px);

    margin-bottom: 15%;
}

#side-menu span {
    font-size: clamp(0.975rem, 2vw, 1.1rem);
    font-weight: 300;
    color: #E2DED0;
    text-align: center;

    margin-bottom: 10%;
}

#open-nav {
    width: 50px;
    height: 50px;

    font-size: clamp(30px, 55vw, 50px);
    font-weight: bold;

    padding-left: 5px;
    cursor: pointer;

    z-index: 9;
}

#side-menu a {
    font-size: clamp(1rem, 6vw, 1.3rem);
    font-weight: 400;
    color: #b1b1b1;
    text-decoration: none;

    display: block;
    transition: 0.3s;
}

.admin-tools {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    gap: 3%;
}

.tool {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;

    gap: 10px;
    padding-left: 20px;

    transition: ease-in .3s;
}

.tool img {
    width: clamp(28px, 5vw, 35px);
    height: clamp(28px, 5vw, 35px);
}

.separator {
    width: 80%;
    height: 2px;

    background-color: #E2DED0;

    margin-bottom: 50px;
}

#side-menu a:hover {
    color: #E2DED0;
}

.tool:hover {
    background-color: #266C71;
    border-radius: 25px;
}
